.header{
  background: linear-gradient(135deg, #8e9ad1 0%, #512a77 100%);
    height: 140px;
    align-items: center;
    display: flex;
    justify-content: center;

}

h1{
  /*font-family: Broadway;*/
  font-family: Showcard Gothic;
  color: whitesmoke;
}

.roomR{
  display: flex;
  justify-content: center;
}

